<form class="login-container" (ngSubmit)="login()" [formGroup]="form" novalidate>
  <div class="login-card">
    <img src="assets/logotoo.png" alt="FinGuard Logo" class="logo"/>
    <h2>FinGuard</h2>
    <p class="subtitle">Fraud Detection & Risk Management System</p>


    <div class="form-group">
      <input
        type="email"
        placeholder="Enter your email"
        formControlName="email"
        autocomplete="username"
        />
        @if (form.controls['email'].invalid && form.controls['email'].touched ) {
          <div class="error">
            @if (form.controls['email'].errors?.['required']) {
              <small>Email is required.</small>
            }
            @if (form.controls['email'].errors?.['email']) {
              <small>Please enter a valid email address.</small>
            }
          </div>
        }
      </div>


      <div class="form-group">
        <input
          type="password"
          placeholder="Enter your password"
          formControlName="password"
          autocomplete="current-password"
          />
          @if (form.controls['password'].invalid && form.controls['password'].touched ) {
            <div class="error">
              @if (form.controls['password'].errors?.['required']) {
                <small>Password is required.</small>
              }
              @if (form.controls['password'].errors?.['minlength']) {
                <small>Minimum 6 characters.</small>
              }
              @if (form.controls['password'].errors?.['pattern']) {
                <small>
                  Use only letters, numbers, and common symbols (@ # $ % ^ & + = ! . _ -).
                </small>
              }
            </div>
          }
        </div>

        <button type="submit" [disabled]="form.invalid">Log In</button>

        <p class="switch-link"> Don't have an account ?
          <a routerLink="/signup">Sign up</a>
        </p>



        <div class="demo">
          <p><b>Banker:</b> banker@finguard.com / banker123</p>
          <p><b>Admin:</b> admin@finguard.com / admin123</p>
        </div>
      </div>
    </form>
