.sidebar {
  position: fixed;
  top: 60px; /* below header */
  left: -260px;
 
  width: 260px;
  height: calc(100vh - 60px);
 
  background-color: var(--primary);
  color: white;
 
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 999;
}
 
.sidebar.open {
  left: 0;
}
 
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
 
.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
}
 
.sidebar a:hover {
  background-color: var(--accent2-dark);
}